<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <ion-img src="assets\logo.jpg" alt="Logo" class="logo-img"></ion-img>

    <ion-input 
      placeholder="E-mail"
      [(ngModel)]="email"
      class="input-field"
      type="email"
      clear-input
    ></ion-input>

    <ion-input 
      placeholder="Nome completo"
      [(ngModel)]="fullName"
      class="input-field"
      type="text"
      clear-input
    ></ion-input>

    <ion-input 
      placeholder="Senha"
      [(ngModel)]="password"
      class="input-field"
      type="password"
      clear-input
    ></ion-input>

    <ion-input 
      placeholder="Confirmar senha"
      [(ngModel)]="confirmPassword"
      class="input-field"
      type="password"
      clear-input
    ></ion-input>

    <ion-button expand="full" (click)="register()" class="register-btn">
      Criar Conta
    </ion-button>

    <ion-text class="text-footer">
      <p>Já tem uma conta? <a routerLink="/login" class="login-link">Faça login aqui</a></p>
    </ion-text>
  </div>
</ion-content>
